.App {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-header {
  flex: 1;
  background-color: #A2CCB6;
  margin: 0;
  padding: 0;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Canvas {
  flex: 20;
  background-color: #FCEEB5;
}

.container {
  flex: 20;
  position: relative;
}

.script-box {
  will-change: width, height, left, top;
  position: absolute;
  font-size: calc(10px + 2vmin);
  color: white;
}
