/* .App {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-header {
  flex: 1;
  background-color: #A2CCB6;
  margin: 0;
  padding: 0;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  flex: 20;
  position: relative;
  background-color: #FCEEB5;
}

.Canvas {
  position: absolute;
}

.script-box {
  will-change: width, height, left, top;
  position: absolute;
  font-size: calc(10px + 2vmin);
  color: white;
} */

* { font-family: monospace }
body { background: DarkGray }
div { background: white }
canvas { width: 1080px; height: 600px; margin-bottom:-3px }
.canvas-widget { width: 1080px; background: DimGray }
table { border-collapse: collapse; display:block; overflow-x: auto; }
table.control-box { width: 1080px; border:0; margin:0; max-height:380px; transition:.5s; overflow-y:scroll; background:DimGray }
table.control-box:hover { max-height:500px }
table.control-box td { overflow:hidden; border:0; background:DimGray; border-radius:30px }
table.control-box td .control-div { background: #EEEEEE; height:338px; padding: 5px 5px 5px 30px; box-shadow: 25px 0px 60px -15px inset }
table.control-box td * { background:transparent }
table.control-box .control-div td { border-radius:unset }
table.control-box .control-title { padding:7px 40px; color:white; background:DarkSlateGray; box-shadow: 25px 0px 70px -15px inset black }
.live_string { display:inline-block; background: unset }
table, th, td { border: 2px solid black; vertical-align: top; white-space: nowrap }
button { background: #4C9F50; color: white; padding: 6px; border-radius:9px;
         box-shadow: 4px 6px 16px 0px rgba(0,0,0,0.3); transition: background .3s, transform .3s }
button:hover, button:focus { transform: scale(1.3); color:gold }
.link { text-decoration:underline; cursor: pointer }
.show { transform: scaleY(1); height:200px; overflow:auto }
.hide { transform: scaleY(0); height:0px; overflow:hidden  }